.activityItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ebf2fa;
  background-color: #b474c9;
  border-radius: 10px;
  height: 60px;
  border-top: solid 1px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0 0 5px 1px black;
}

.activityItem:hover {
  cursor: pointer;
  background-color: #b474c9;
  animation: shake 1.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  
  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(2px, 0, 0);
}
}

.mainInfo {
  display: flex;
  flex-direction: column;
  width: 65%;
  height: 100%;
  justify-content: space-around;
  align-items: left;
  padding-left: 15px;
}

.mainInfo span {
  font-size: 20px;
}

.mainInfo p {
  margin: 0;
}

.timeInfo {
  width: 25%;
}

.callContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 10px;
  height: 100%;
}
.callContainer h2 {
  text-align: center;
  font-size: 20px;
}
