.callProfile {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.callProfile .userImage {
  margin: 10px;
  padding: 20px;
  border-radius: 50%;
  background-color: #b474c9;
  color: #ebf2fa;
  box-shadow: 0 0 5px 1px black;
}

.callProfile .userNumber {
  font-size: 20px;
  font-weight: bold;
  margin: 5px;
}

.callProfile .callIcon {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.callProfile .callData {
  width: 60%;
  background-color: #b474c9;
  color: #ebf2fa;
  font-size: 16px;
  height: 100%;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 35px;
  box-shadow: 0 0 5px 1px black;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  height: 30%;
  margin-left: 115px;
}

.buttonContainer button {
  display: flex;
  width: 100px;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  align-items: center;
  background: transparent;
  border: none;
  border-radius: 35px;
  color: white;
  background-color: #b474c9;
}

.buttonContainer button:hover {
  background-color: #b474c9;
  cursor: pointer;
  animation: shake 2s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}


@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  
  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(2px, 0, 0);
}
}