footer {
  height: 11%;
  margin: 0 auto;
  text-align: center;
  border-top: 1px rgba(0, 0, 0, 0.1) solid;
  background-color: #f0f4f5;
}

footer svg {
  display: block;
  width: 100%;
  height: 100%;
}

footer .footerButtons {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 15px;
  height: 100%;
  width: 70%;
}

footer button:hover {
  cursor: pointer;
  animation: shake 1.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

.footerButtons button {
  height: 60px;
  width: 60px;
  background: transparent;
  border: none;
}

.footerButtons .midButton {
  padding: 10px;
  margin: 10px;
  margin-top: 50px;
  position: relative;
  bottom: 55px;
  border-radius: 50%;
  background-color: #ebf2fa;
  box-shadow: 0 0 5px 3px black;
  height: 80px;
  width: 80px;
    text-shadow: 0 1px 2px #283D3B;
  animation: jiggle 5s infinite ease-in;
}

.midButton:hover {
  box-shadow: 0 0 5px 5px #f0f4f5;
 }
 
 @keyframes jiggle {
   45%, 65% {
     transform: scale(1.0, 1.0)
   }
   50% {
     transform: scale(1.1, 0.9)
   }
   55% {
     transform: scale(0.9, 1.1) translate(0, -5px)
   }
   60% {
     transform: scale(1.0, 1.0) translate(0, -5px)
   }
 }
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
   
   30%, 50%, 70% {
     transform: translate3d(-2px, 0, 0);
   }
   40%, 60% {
     transform: translate3d(2px, 0, 0);
 }
 }
 