.headerLogo {
  height: 8%;
  width: 70%;
  padding: 20px 0;
  
}

.headerLogo svg {
  margin-left: 90px;
  margin-bottom: -25px;
  width: 60%;
  height: 100%;
}

.headerLogo svg:hover {
  cursor: pointer;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header #settings {
  margin: 20px;
  overflow: hidden;
  transition-duration: 0.8s;
  transition-property: transform;
}

header #settings:hover {
  color: #f0f4f5;
  cursor: pointer;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}