.tabs {
    display: flex;
    justify-content: space-between;
    background-color: #EEE;
    padding: 5px 5px 0 5px;
}

.tabbutton {
    width: 48%;
    height: 30px;
    background-color: #AFA;
    border-radius: 5px 5px 0px 0px;
    border: solid 2px gray;
    border-bottom: solid 2px #9d9;
    transition: .2s ease-in-out;
}

.tabbutton.active {
    border-bottom: solid 2px white;
    background-color: white;
}

.tabbutton:hover {
    background-color: #FFA;
}

.tabbutton:active {
    background-color: white;
}

/* todo: add activated styling for tabs */
/* todo: add animation for color changes */